
*{
    padding:0;
    margin:0;
}
a{
	color:black;
    text-decoration:none;
}
li{
    list-style-type:none;
}
#top{
    height:150px;
    width:900px;
    /* border:1px solid red; */
	margin-left:300px;;
	position:relative;
}
#logo{
	width:120px;
}
#top div{
	color:#ccc;
	margin-top:3px;
	margin-left:720px;
}
#top input{
	width:300px;
	height:30px;
	position:relative;
	top:-20px;
	left:300px;
	color:#ccc;
	border-radius:20px;
}
#top ul{
	position:relative;
	top:-40px;
	left:150px;
	font-size:20px;
	font-family:'宋体';
}
#top li{
	float:left;
	padding-left:15px;
}
/* #pho{
	width:30px;
	height:30px;
	background-color:#00A3FF;
	position:relative;
	top:-10px;
	left:300px;
} */
#sebt{
	width: 35px;
	height:35px;
	position:absolute;
	left:750px;
	top:68px;
}
#banner{
	width: 900px;
	height: 397px;
	/* border: 1px solid red; */
	margin-left:300px;
	position: relative;
	overflow: hidden;
}
#lunboa{
	width: 8400px;
	position: absolute;
	left: -1200px;
}
#lunboa>img{
	width: 1257px;
	height: 397px;
}
#lunbo{
	width: 1200px;
	overflow: hidden;
	float: left;
}
#banner>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	/* display: none; */
	opacity: 0;
}
#left{
	left: 30px;
}
#right{
	right: 30px;
}
#nav{
	position: absolute;
	left: 350px;
	bottom: 20px;
}
#nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: #ccc;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
#nav .active{
	background: red;
}
#one{
	position:relative;
}
#po,#pt{
	height:40px;
	line-height:40px;
	background-color:powderblue;
	font-size:20px;
	font-family:'宋体';
}
#sp{
	margin-left:190px;
}
#sp1{
	position:relative;
	left:900px;
}
#ip{
	display:none;
	float:left;
	position:absolute;
	top:330px;
	background-color:#ccc;
	width:215px;
	height:25px;
	line-height:25px;
	text-align:center;
}
li:hover #ip{
	display:block;
}
#one ul{
	width:900px;
	margin:0 auto;
}
#one li{
	float:left;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:5px;
}
#one li>img{
	width:215px;
	height:300px;
}
#two{
	clear:left;
	position:relative;
}
#two ul{
	width:900px;
	margin:0 auto;
}
#two li{
	float:left;
	margin-right:10px;
	margin-top:3px;
	margin-bottom:5px;
}
#two li>img{
	width:215px;
	height:300px;
}
.bottom{
	clear: left;
	background-color: #f5f5f5;
	width: 100%;
	height: 200px;
	position:relative;
	top: 0px;
}
.fir{
	width: 279px;
	height: 200px;
	margin-left: 320px;
	padding-top: 40px;
}
.sec{
	width: 279px;
	padding-top: 50px;
	float: left;
	position: absolute;
	top: 30px;
	left: 550px;
}
.thi{
	width: 279px;
	position: absolute;
	top: 80px;
	left: 750px;
}
.fou{
	position: absolute;
	top: 50px;
	margin-left: 1000px;
}
.fou img{
	width:100px;
	height:100px;
}

